<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ism3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iStat Menus Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iStat Menus</string>
	<key>CFBundleIconFile</key>
	<string>iStat Menus.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.bjango.istatmenus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iStat Menus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>iStat Menus Registration</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>istatmenus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.10</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 Bjango</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://bjango.com/istatmenus/appcast/appcast.xml</string>
</dict>
</plist>
